<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
<!--    <div th:replace = "fragments :: showJobsTable"></div>-->
    <div>

        <table class="job-listing" th:each="eachJob : ${jobs}">
            <tr th:each="theKey : ${eachJob.keySet()}">
                <td th:text="${theKey}"></td>
                <td th:text="${eachJob.get(theKey)}"></td>
                <!--        <td th:text="${eachJob.value}">Listed Job</td>-->
            </tr>
        </table>
    </div>



















<!--    <table class="job-listing">-->
<!--        <tr th:each="eachJob : ${jobSearchResults}">-->
<!--            <td th:text="${eachJob}">Listed Job</td>-->
<!--        </tr>-->
<!--    </table>-->


<!--    <table>-->
<!--    <tr th:each="eachJob : ${jobs}">-->
<!--        <td th:text="${eachJob}">Listed Job</td>-->
<!--        </br>-->
<!--    </tr>-->
<!--    </table>-->

</div>

</body>
</html>